
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:EksnE3Ub9NjacPA+TllZ5DzL4ojN9nmyGz5w+1kcL0U=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=reservas_recintos_arica
DB_USERNAME=root
DB_PASSWORD=hola1234

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
# Reemplazar con un correo que funcione
MAIL_USERNAME=aca-va-el-correo@gmail.com
# Contraseña generada por el gestor del mismo correo en gmail
MAIL_PASSWORD=aca-va-la-contraseña
MAIL_ENCRYPTION=tls
# Reemplazar con un correo que funcione
MAIL_FROM_ADDRESS="aca-va-el-correo@gmail.com"
MAIL_FROM_NAME="Municipalidad de Arica - Recintos"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
